@import "../vendors/normalize.css";
//@import "../../node-modules/hover.css/css/hover.css";
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Russo+One|Tinos');

// ===============  variables  =========== 


// =============== html body =============
html {
    font-size: 14px;
    font-weight: 400;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }


  // ================= Links ===============
  a {
    color: #1887D1;
    font-weight: bold;
  }
  
  p {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .container {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  
  .clearfix:before,
  .clearfix:after {
    content: ' ';
    display: table;
  }
  .clearfix:after {
    clear: both;
  }

  .navbar {
    top: 0;
    margin-top: -1.5rem;
    background-color: rgb(20, 17, 50);
    &-container {
        &-ul {
            display: grid;  
            grid-template-columns: repeat(4, 8rem);
            grid-auto-rows: auto;
            align-self: right;

            & li {
                list-style-type: none;
                margin: 1.5rem auto;     
            }
            a {
               // color:rgb(33.2%, 92.5%, 33.2%);
               text-decoration: none;             
                    h1 {
                        //color: rgba(143, 76, 76, 0.8);
                        font-family: 'Tinos', serif;
                        color: rgb(13, 188, 121);
                        text-shadow: 1px 1px 2px #360000;
                        font-size: 1.75rem;    
                        //margin-bottom: 0;                  
                    }
        
            }
            a :hover {
              color:red;
            }
        }
     }
  }

  #home {
  height: 100%;
  .container-row {
    text-align: center;
    font-size: 1.2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    h1 {
      //font-family: 'Cinzel', serif;
      // font-family: 'Russo One', sans-serif;
      font-family: 'Tinos', serif;
      font-size: 3rem;
      line-height: 1.5;
    }
  }
}
#aboutme {
  height: 100%;
  background-color: #14111F;
}



#portfolio {
  height: 100%;
  background-color: white;
  .container {
    padding-top: 9rem;
    &-row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      grid-gap: 2em;
      grid-auto-rows: minmax(12rem, auto);
    }
  }
  .card {
    border: 1.1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
  }
  
  .center-card {
    border: none;
    margin: auto; 
    h4 {
      color: rgb(252, 84 , 43);
      font-size: 3rem;
    }
  }
}

  .hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.003s;
    transition-duration: 0.03s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }